:root {
--main-color: #101828;
--gray-text-color:#8E929A;
--blue-default-color:#3470FF;
--blue-active-color:#0B44CD;
--graylight-text-color:#DADDE1;
--white-button-text-color:#FFFFFF;
--light-input-color:#F7F7F7;
--light-background-color:#F2F4F7;
--error-color: #cf0909;
}
body{
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0%;
  
}

h1,
h2,
h3,
p {

  margin: 0;

}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
